@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nunito:wght@300;400;600;700&display=swap");
.divSoma {
    box-sizing: border-box;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 463px;
    background: #ffffff;
    /* grey-2 */
    border: 1px solid #e9ecef;
    border-radius: 8px;
    box-shadow: 0px 4px 20px -12px rgba(0, 0, 0, 0.25);
}

.divValor {
    display: flex;
    justify-content: space-between;
}

.textValor {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
    /* identical to box height, or 188% */
    /* grey-4 */
    color: #212529;
}

.valor {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
    /* identical to box height, or 188% */
    /* color-primary */
    color: #fd377e;
}

.descSaldo {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    /* identical to box height, or 183% */
    /* grey-3 */
    color: #343a40;
}